.navBar{
    max-width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,1) !important;
    padding: 0 5% 0 5%;
    transition: 0.5s;
}
.navLink{
    color: white !important;
    font-family: Roboto,serif;
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.navBarScroll{
    max-width: 100%;
    height: 60px;
    padding: 0 5% 0 5%;
    background-color:#ffffff !important;
    transition: 0.5s;
}
.navLinkScroll{
    color: rgba(0,0,0,0.7) !important;
    font-family: Roboto,serif;
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.navLink:hover{
    color: pink!important;
    border: 1px solid white!important;
}
.navLinkScroll:hover{
    color: #0d39e1 !important;
    border: 1px solid black!important;
}

.homeTopBackground {
    background-size: cover;
    width: 100%;
    height: 100%;
    background: url("../Images/banner.jpg") no-repeat fixed center;
    padding: 0;
}

.homeTopBackgroundOverlay{
    background-size: cover;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 710px;
    margin: -60px 0 0 0;
    padding: 0;
}

.topBarContent {
    position: absolute;
    width: 70%;
    top: 17rem;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carouselImg{
    width: 100%;
    height: 430px;
}
.title{
    color: white;
    font-size: 22px;
    font-family: Popin, serif;
    font-weight: 600;
    text-transform: uppercase;

}
.subTitle{
    color: white;
    font-size: 20px;
    font-family: Popin, serif;
    font-weight: 400;
}
.contactBtn{
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat, serif;
    font-weight: 400;
    background-color: rgba(0,0,0,0.2);
}
.contactBtn:hover{
    background-color: white;
    color: #282c34;
    border: 1px solid black;
    transition: 0.5s;
}
.globalTitle{
    color: rgba(0,0,0,1);
    font-family: Montserrat, serif;
    font-size: 22px;
    font-weight: 600;
}
.globalSubTitle{
    color: rgba(0,0,0,1);
    font-family: Raleway, serif;
    font-size: 18px;
    font-weight: 600;
}
.logoImg{
    width: 100px;
    height: 60px;
    padding: 0;
}
.contactLink{
    text-decoration: none;
    font-size: 15px;
    font-family: Montserrat, serif;
    font-weight: 500;
}
.contactLink:hover{
    color: #000000;
    transition: 0.2s;
}
