.navBar{
    width: 100%;
    height: 55px;
    background-color: #1aca9d;
    padding: 0 5% 0 5%;
    transition: 0.5s;
    box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 5px 4px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);
}
.homeTopBackground {
    background-size: cover;
    width: 100%;
    height: 25rem;
    background: linear-gradient(to bottom right, #1aca9d 50%, #77B1D2 50%);
}

/*wave work start  */
.svgBlock1{
    width: 100%;
    height: 100%;
}


.svgContainer{
    width: 100%;
    background: linear-gradient(to bottom right, #1aca9d 90%, #77B1D2 10%);
    position: relative;
    height: auto;
}
.svgRow{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
}

/*wave work end*/


.navLink{
    color: white ;
    font-family: Montserrat,serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 11px 11px 11px;

}
.navBarScroll{
    width: 100%;
    height: 55px;
    padding: 0 5% 0 5%;
    background-color:#ffffff !important;
    transition: 0.5s;
    box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.2);
}
.navLinkScroll{
    color: rgba(0,0,0,0.9) !important;
    font-family: Montserrat,serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 11px 11px 11px;
}
.navLink:hover{
    color: black!important;
}
.navLinkScroll:hover{
    color: #1aca9d !important;
}

.topBarContent {
    position: absolute;
    width: 100%;
    top: 13rem;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.PrivacyTopBarContent {
    position: absolute;
    width: 100%;
    top: 6.8rem;
    text-align: center;
}

.title{
    color: black;
    font-size: 19px;
    font-family: Popin, serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
}
.subTitle{
    color: white;
    font-size: 20px;
    font-family: Roboto, serif;
    font-weight: 400;
}
.contactBtn{
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat, serif;
    font-weight: 400;
    background-color: rgba(0,0,0,0.2);
}
.contactBtn:hover{
    background-color: white;
    color: #282c34;
    border: 1px solid black;
    transition: 0.5s;
}
.globalTitle{
    color: rgba(0,0,0,1);
    font-family: Popin, serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.globalSubTitle{
    color: rgba(0,0,0,1);
    font-family: Montserrat, serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}
.logoImg{
    width: 100px;
    height: 55px;
    margin-left: 20px;
}
.contactLink{
    text-decoration: none;
    font-size: 14px;
    font-family: Montserrat, serif;
    font-weight: 400!important;
    color: rgba(0,0,0,1);
}
.contactLink:hover{
    color: #ffba89;
    transition: 0.2s;
}
.globalDescription{
    font-size: 15px;
    font-family: Montserrat, serif;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
    line-height: 2rem;
    text-decoration: none;
}
.privacyTop{
    background-size: cover;
    width: 100%;
    height: 150px;
    background: url("../Images/banner.png") no-repeat fixed center;
}

.privacyTopOverlay{
    background-size: cover;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 150px;
}
.privacyTopOverlay a:hover{
    color: #0D6EFD !important;
    transition: 0.2s;
}
.text-warning{
    color: #EDAC87!important;
}
.text-warning a{
    color: #EDAC87!important;
    text-decoration: none;
}
.text-warning a:hover{
    color: #0D6EFD !important;
    transition: 0.2s;
}
.aboutTop {
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Images/backgroundPhoto.jpg");
}
.aboutImg{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.aboutCard{
    padding: 4px;
    cursor: pointer;
}
.aboutCard:hover{
    box-shadow: -1px 2px 23px 9px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 2px 23px 9px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 2px 23px 9px rgba(0,0,0,0.37);
    transition: 0.5s!important;
}

.command{
    background-color: rgba(0,0,0,0.3);
    padding: 1px 5px 1px 5px;
    border-radius: 4px;
}
.copyRight{
    background-color: rgba(67, 214, 247, 0.1);
    border-radius: 5px 5px 0 0;
}
.projectCardFooter{
    background-color: #059862;
    margin: 0;
    padding: 10px 16px;
}
.caroImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/*.slider-container {*/
/*    width: 100%;*/
/*    padding: 0 10%;*/
/*    margin-bottom: -18px;*/
/*    overflow-x: hidden;*/
/*    text-align: center;*/
/*}*/
.showMore{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    white-space: nowrap;
}
.someBG{
    background-color: rgba(26, 202, 157, 0.45);
    /*background-color: #384055;*/
}
.someBG1{
    background-color: rgba(221, 232, 226, 0.48);
    overflow-x: hidden;
    padding-top: 20px;
}