.navBar{
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,1) !important;
    padding: 0 5% 0 5%;
    transition: 0.5s;
}
.navLink{
    color: white !important;
    font-family: Roboto,serif;
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.navBarScroll{
    width: 100%;
    height: 60px;
    padding: 0 5% 0 5%;
    background-color:#ffffff !important;
    transition: 0.5s;
}
.navLinkScroll{
    color: rgba(0,0,0,0.7) !important;
    font-family: Roboto,serif;
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.navLink:hover{
    color: pink!important;
    border: 1px solid white!important;
}
.navLinkScroll:hover{
    color: #0d39e1 !important;
    border: 1px solid black!important;
}

.topBarContent {
    position: absolute;
    width: 100%;
    top: 11rem;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.homeTopBackground {
    background-size: cover;
    width: 100%;
    height: 25rem;
    background: url("../Images/banner.jpg") no-repeat fixed center;
}

.homeTopBackgroundOverlay{
    background-size: cover;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 25rem;
    position: relative;
}

.PrivacyTopBarContent {
    position: absolute;
    width: 100%;
    top: 11rem;
    text-align: center;
}

.title{
    color: white;
    font-size: 22px;
    font-family: Popin, serif;
    font-weight: 600;
    text-transform: uppercase;

}
.subTitle{
    color: white;
    font-size: 20px;
    font-family: Montserrat, serif;
    font-weight: 400;
}
.contactBtn{
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat, serif;
    font-weight: 400;
    background-color: rgba(0,0,0,0.2);
}
.contactBtn:hover{
    background-color: white;
    color: #282c34;
    border: 1px solid black;
    transition: 0.5s;
}
.globalTitle{
    color: rgba(0,0,0,1);
    font-family: Popin, serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.globalSubTitle{
    color: rgba(0,0,0,1);
    font-family: Montserrat, serif;
    font-size: 18px;
    font-weight: 600;
}
.logoImg{
    width: 100px;
    height: 60px;
    margin-left: 20px;
}
.contactLink{
    text-decoration: none;
    font-size: 15px;
    font-family: Montserrat, serif;
    font-weight: 500;
    color: black;
}
.contactLink:hover{
    color: white;
    transition: 0.2s;
}
.globalDescription{
    font-size: 15px;
    font-family: Montserrat, serif;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
    line-height: 1.4rem;
    text-decoration: none;
}
.privacyTop{
    background-size: cover;
    width: 100%;
    height: 300px;
    background: url("../Images/banner.jpg") no-repeat fixed center;
}

.privacyTopOverlay{
    background-size: cover;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 300px;
}
.privacyTopOverlay a:hover{
    color: #0D6EFD !important;
    transition: 0.2s;
}
.text-warning{
    color: #EDAC87!important;
}
.text-warning a{
    color: #EDAC87!important;
    text-decoration: none;
}
.text-warning a:hover{
    color: #0D6EFD !important;
    transition: 0.2s;
}
.aboutTop {
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Images/backgroundPhoto.jpg");
}
.aboutImg{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.aboutCard{
    padding: 4px;
    cursor: pointer;
}
.aboutCard:hover{
    box-shadow: -1px 2px 23px 9px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 2px 23px 9px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 2px 23px 9px rgba(0,0,0,0.37);
    transition: 0.5s!important;
}

.command{
    background-color: rgba(0,0,0,0.3);
    padding: 1px 5px 1px 5px;
    border-radius: 4px;
}
.projectImg{
    width: 100%;
    height: auto;
}
.copyRight{
    background-color: rgba(0,0,0,0.4);
}