.loginBtn{
    width: 95px;
    color: white;
    background-color: #059862;
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 18px;
}
.loginBtn:hover{
    color: black;
    background-color: white;
    border: 1px solid rgba(40, 44, 52, 0.67);
}
.close{
    position: absolute;
    font-size: 42px;
    right: 0;
    top: -16px;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.close:hover{
    background-color: rgba(0,0,0,0.3);
    transition: 0.5s;
}

/*.displayModal{*/
/*    position: fixed;*/
/*    left: 141px;*/
/*    top: 65px;*/
/*    width: 70%;*/
/*    height: auto;*/
/*    bottom: 20px;*/
/*    margin: 0 auto;*/
/*    overflow-y: auto;*/
/*    background-color: rgba(255,255,255,1);*/
/*    border: 2px solid silver;*/
/*    padding: 20px 0 20px 0;*/
/*}*/

.displayModal {
    position: fixed;
    left: calc(50% + 25px);
    top: calc(50% + 20px);
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: calc(100% - 141px);
    height: auto;
    max-height: 500px;
    overflow-y: auto;
    background-color: rgba(255,255,255,1);
    border: 2px solid silver;
    padding: 20px;
}


.modalContent{
    text-align: left;
    padding: 20px;
}
.displayModal img{
    width: 35%;
    border-radius: 50%;
}
.displayModal input{
    position: inherit;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.submitBtn{
    position: inherit;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #4CAF50;
   border: none;
}
.submitBtn:hover{
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: 0.5s;
}
.modalContentFooter{
    box-sizing: border-box;
    background-color: #F1F1F1;
    padding: 15px 12px 15px 12px;
    border-top: 1px solid gray;
}
.cancelBtn{
    background-color: #F44336;
    border: none;
    padding: 5px 11px 5px 11px !important;
    color: white;
    font-family: Raleway, serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}
.cancelBtn:hover{
    background-color: #059862;
    transition: 0.5s;
}
