.projectBody{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2) !important;
}
.projectBody:hover{
    background-color: rgba(0,0,0,0.5) !important;
    transition: 0.4s;
}
.projectImg{
    width: 100%;
    height: auto;
    max-height: 400px;
}