/*::-webkit-scrollbar {*/
/*    width: 1px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background: #f1f1f1;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #888;*/
/*    border-radius: 5px;*/
/*}*/

@media only screen and (max-width: 767px) {
    .mt-sm-2{
        margin-top: 10px!important;
    }
    .smallNav{
        background-color: white!important;
        margin-right: 20px;
    }
    .smallNavScroll{
        border: 1px solid black;
        margin-right: 20px;
    }
    .logoImg{
        max-height: 50px;
    }
    .nav{
        background-color: rgba(0,0,0,0.7)!important;
        width: 100%;
        text-align: center;
        margin: 0!important;
        padding: 0!important;
    }
    .navScroll{
        background-color: white!important;
        width: 100%;
        text-align: center;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .navBar{
        background-color: rgba(0,0,0,0.7)!important;
        width: 100%;
        text-align: center;
        padding: 0;
        max-height: 50px!important;
    }
    .navBarScroll{
        width: 100%;
        max-height: 50px;
        padding: 0;
        background-color:white !important;
        transition: 0.5s;
    }
    .navLinkScroll{
        color: black!important;
        width: 100%;
    }
    .navLink{
        color: white!important;
        width: 100%;
    }
    .navLink:hover{
        color: green!important;
        border: 1px dotted white;
        transition: 0.4s;
    }
    .navLinkScroll:hover{
        color: blue;
        border: 1px dotted black;
        transition: 0.4s;
    }
    .globalTitle{
        color: rgba(0,0,0,1);
        font-family: Montserrat, serif;
        font-size: 18px;
        font-weight: 500;
    }
    .globalSubTitle{
        color: rgba(0,0,0,1);
        font-family: Raleway, serif;
        font-size: 14px;
        font-weight: 500;
    }

    .homeTopBackground {
        height: 30rem;
    }

    .homeTopBackgroundOverlay{
        height: 30rem;
    }
    .topBarContent {
        top: 14.5rem;
    }

    .title{
        color: white;
        font-size: 18px;
        font-family: Popin, serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    .subTitle{
        color: white;
        font-size: 16px;
        font-family: Popin, serif;
        font-weight: 400;
    }


}