@media (min-width: 768px) {
    .topBarContent{
        width: 60%;
    }
}
@media (min-width: 1000px) {
    .topBarContent{
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .topBarContent{
        width: 40%;
    }
}
@media (min-width: 1400px) {
    .topBarContent{
        width: 36%;
    }
}
@media only screen and (max-width: 400px) {
    .topBarContent{
        top: 58%;
    }
    .carouselImg{
        height: 370px;
    }
}
