::-webkit-scrollbar {
    width: 1px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {

    .smallNav{
        background-color: white!important;
        margin-right: 20px;
    }
    .smallNavScroll{
        background-color: black!important;
        margin-right: 20px;
    }
    .nav{
        background-color: black!important;
        width: 100%;
        text-align: center;
        margin: 0!important;
        padding: 0!important;
    }
    .navLink{
        color: black!important;
    }
    .navScroll{
        background-color: black!important;
        width: 100%;
        text-align: center;
        margin: 0!important;
        padding: 0!important;
    }
    .navBar{
        background-color: black!important;
        width: 100%;
        text-align: center;
        margin: 0!important;
        padding: 0;
    }
    .navBarScroll{
        width: 100%;
        height: 60px;
        padding: 0;
        background-color:white !important;
        transition: 0.5s;
    }
    .navLink,.navLinkScroll{
        color: white!important;
    }
    .navLink:hover, .navLinkScroll:hover{
        border: none!important;
        background-color: rgba(0, 0, 0, 0.49) !important;
        color: white!important;
        padding: 5px;
        transition: 0.4s;
    }

    .topBarContent {
        position: absolute;
        width: 100%;
        top: 12rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .globalTitle{
        color: rgba(0,0,0,1);
        font-family: Montserrat, serif;
        font-size: 18px;
        font-weight: 500;
    }
    .globalSubTitle{
        color: rgba(0,0,0,1);
        font-family: Raleway, serif;
        font-size: 14px;
        font-weight: 500;
    }

    .homeTopBackground {
        height: 20rem;
    }

    .homeTopBackgroundOverlay{
        height: 20rem;
    }

    .title{
        color: white;
        font-size: 18px;
        font-family: Popin, serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    .subTitle{
        color: white;
        font-size: 16px;
        font-family: Popin, serif;
        font-weight: 400;
    }
}