@media (max-width: 600px) {
    .practiceTitle {
        padding-left: 0!important;
        font-family: Montserrat, serif, serif!important;
        font-size: 15px!important;
        font-weight: 600 !important;
    }
    .sidebar {
        width: 84px !important;
        padding: 0 0 0 5px!important;
        max-height: calc(100vh - 56px) !important;
        overflow-y: auto!important;
    }
    .sidebar a {
        text-decoration: none!important;
        color: rgba(0,0,0,0.8) !important;
        padding: 2px 0 0 5px!important;
        font-family: Montserrat, serif, serif!important;
        font-size: 12px!important;
        font-weight: 600!important;
        margin: 0!important;
    }
    .practiceSlider{
        width: 84px !important;
        float: left;
    }
    .practiceRightPage{
        padding: 1px 5px 1px 5px!important;
        width: calc(100% - 84px) !important;
        float: right;
        margin-top: 69px;
    }
    .text{
        left: calc(50% - 42px) !important;
    }

    .displayModal{
        position: fixed;
        width: 100%!important;
        left: 50%!important;
        top: 310px !important;
        max-width: calc(100% - 40px) !important;
        height: auto;
        padding-bottom: 50px!important;
    }
    .cancelBtn{
        padding:0 5px !important;
        font-size: 12px!important;
        height: 30px!important;
        margin-top: 5px;
    }

    .modalContentFooter{
        padding: 10px!important;
    }
}