.slidePage {
    position: absolute;
    left: 100px;
    width: calc(100% - 100px);
    top: 70px;
    padding: 0 20px 0 20px!important;
    margin:0!important;
}

@media (max-width: 600px) {
    .practiceTitle {
        padding-left: 0!important;
        font-family: Montserrat, serif, serif!important;
        font-size: 15px!important;
        font-weight: 600 !important;
    }

    .slidePage {
        position: absolute!important;
        left: 100px!important;
        width: calc(100% - 100px) !important;
        top: 70px!important;
        padding: 0 5px 0 5px !important;
    }

    .sidebar {
        width: 80px!important;
        padding: 0 0 0 5px!important;
        max-height: calc(100vh - 56px) !important;
        overflow-y: auto!important;
    }
    .sidebar a {
        text-decoration: none!important;
        color: rgba(0,0,0,0.8) !important;
        padding: 2px 0 0 5px!important;
        font-family: Montserrat, serif, serif!important;
        font-size: 15px!important;
        font-weight: 500!important;
        margin: 0!important;
    }
}