*{
    box-sizing: border-box;
}


.practiceList{
    padding: 0;
    margin-top: 60px;
    width: 18px;
}
.practiceTitle{
    margin-left: -1%;
    font-size: 22px;
    font-family: Popin, serif;
    font-weight: 600;
}
.sidebar {
    padding: 0;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}
.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a {
    padding: 2px 0 0 0;
}
.mySlides img{
    width: 100%;
    height: auto;
}
