@media (max-width: 600px) {
    .practiceTitle {
        padding-left: 0!important;
        font-family: Montserrat, serif, serif!important;
        font-size: 15px!important;
        font-weight: 600 !important;
    }
    .sidebar {
        width: 84px !important;
        padding: 0 0 0 5px!important;
        max-height: calc(100vh - 56px) !important;
        overflow-y: auto!important;
    }
    .sidebar a {
        text-decoration: none!important;
        color: rgba(0,0,0,0.8) !important;
        padding: 2px 0 0 5px!important;
        font-family: Montserrat, serif, serif!important;
        font-size: 12px!important;
        font-weight: 600!important;
        margin: 0!important;
    }
    .practiceSlider{
        width: 84px !important;
        float: left;
    }
    .practiceRightPage{
        padding: 1px 5px 1px 5px!important;
        width: calc(100% - 84px) !important;
        float: right;
        margin-top: 69px;
    }
}