*{
    box-sizing: border-box;
}

.practiceList{
    padding: 0;
}
.practiceTitle{
    font-family: Montserrat, serif, serif;
    font-size: 16px;
    font-weight: 600;
    padding-left: 5px;
}
.sidebar {
    padding: 0;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
    width: 122px;
}
.sidebar a {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    padding: 2px 0 0 7px;
    font-family: Montserrat, serif, serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0!important;
}
.sidebar a:hover{
    background-color: rgba(0,0,0,0.4);
    color: #61dafb;
}
.mySlides img{
    width: 100%;
    height: auto;
}
.practiceSlider{
    width: 121px;
    float: left;
    min-width: 79px;
    border: 1px solid silver;
    border-top: none;
    height: 94vh;
}
.practiceRightPage{
    width: calc(100% - 121px);
    float: right;
    padding: 1px 13px 1px 13px;
    margin-top: 10px;
}