/* SliderCode.css */

/* Customize scrollbar for the entire document */
body {
    scrollbar-width: thin;
    scrollbar-color: #999999 #f5f5f5;
}

/* Define styles for the scrollbar */
::-webkit-scrollbar {
    width: 2px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #999999;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Apply custom styles to the scrollbar within the sliderCode class */
.code {
    overflow-x: auto;
}

/* Adjust styles for the horizontal scrollbar */
.code::-webkit-scrollbar {
    height: 2px; /* Height of the horizontal scrollbar */
}

.code::-webkit-scrollbar-thumb {
    background-color: #555555;
}

.code::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.Xoverflow::-webkit-scrollbar {
    height: 2px;
}
.Xoverflow{
    padding: 0!important;
    margin: 0!important;
}

.h-auto{
    height: auto!important;
    max-height: 400px!important;
}
.ml-3{
    margin-left: -11px!important;
}